@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo {
    color: #fff;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 30px;
    font-weight: 500;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: slategrey;
}

nav {
    background: rgb(85, 98, 111);
    padding: 15px 0;
    padding-right: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 1px rgb(53, 60, 68);
    top: 0;
    position: fixed;
}

header {
    margin-top: 90px;
}

.account {
    width: 140px;
    margin-left: 1560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.name {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

span {
    font-weight: 300;
    font-size: 14px;
    transform: translateX(10px) translateY(-360px);
    padding-bottom: 30px;
    margin-left: 10px;
    position: absolute;
}

.memu {
    padding: 0 20px;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background: rgb(81, 93, 105);
}

aside {
    background: rgb(85, 98, 111);
    width: 250px;
    height: 100%;
    transform: translateX(-250px);
    margin-top: 90px;
    padding-bottom: -13px;
}

:focus {
    outline: none;
}

aside ul li {
    padding: 20px;
}

aside ul li a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 20px 210px 10px 0px;
}

.copyright {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    bottom: 0;
    margin-left: 20px;
    margin-top: 460px;
    font-size: 14px;
}

/* =============================== */
#msg {
    bottom: 0;
    position: absolute;
    padding: 15px;
    width: 100%;
    background: rgb(85, 98, 111);
    border: none;
    box-shadow: 0 0 30px .001px rgb(57, 66, 75);
    color: rgb(129, 150, 172);

}

#msg::placeholder {
    color: rgb(129, 150, 172);
}

#btn {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 30px;
    border-radius: 50%;
    border: 0px;
    background: slategrey;
    padding: 6px 0;
    color: #ccc;
    cursor: pointer;
}

p {
    font-family: 'Roboto', sans-serif;
    /* margin-top: -740px; */
    /* transform: translateX(250px); */
}